@import "src/styles.scss";

.body {
    margin: 80px;
    justify-content: center;

    .title {
        color: $accent;
        font-size: 32px;
    }

    .icons {
        display: block;
        margin-left: auto;
         margin-right: auto;
        width: 40%;
        background-color: $fonts;
        width: 500px;
        height: 100px;
        justify-content: center;
        border-radius: 10px;
        display: flex;
        .icon { 
            margin: 10px;
            filter: invert(96%) sepia(94%) saturate(421%) hue-rotate(79deg) brightness(96%) contrast(90%);
            height: 25px;
            width: 25px;
        }
        .icon:hover {
            height: 30px;
            width: 30px;
        }
    }
}