<div class="body">
    <h1 class="title">Skills</h1>
    <div class="icons1">
        <div class="icons" *ngFor="let icon of icons">
            <div class="tooltip">
                <img class="icon" [src]="icon.url" />
                <div class="top">
                    <p class="tool"> {{ icon.description }} </p>
                    <i></i>
                </div>
            </div>
        </div>
    </div>
    <div class="icons2">
        <mat-accordion>
            <div *ngFor="let skill of skills" class="accordion">
                <mat-expansion-panel class="color" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            {{ skill.title }}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ skill.description }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{ skill.expandedText }}</p>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
</div>
