@import "src/styles.scss";

img {
    width: 150px;
    object-fit: contain;
}

.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 720px) {
    .body {
        .tiles {
            .tile {
                img {
                    width: 400px;
                }
            }
        }
    }   
}
