@import "src/styles.scss";

.body {
    color: $dark-blue;

    .title {
        font-weight: 900;
        font-size: 50px;
        margin: 60px 0 40px 0;
        color: $dark-blue;
    }

    .tiles {
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10px 0;
        justify-content: center;
        align-items: center;
        .tile {
            margin: 10px 0;
            border-radius: 10px;
            color: $dark-blue;

            img {
                width: 60vw;
            }

            .paragraph {
                text-align: left;
                margin: 10px 10px 20px 10px;
            }

            mat-expansion-panel {
                mat-expansion-panel-header {
                    height: 7vh;
                }
                .wrap {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: flex-start;
                    font-size: 18px;

                    .description {
                        color: grey;
                    }
                }

                ul {
                    padding-left: 10px;

                    li {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .body {
        .tiles {
            .tile {
                img {
                    width: 400px;
                }
            }
        }
    }   
}
