@import "src/styles.scss";

.title {
    font-weight: 900;
    font-size: 50px;
    margin: 40px;
}
.tiles {
    display: flex;
    margin: 10px;
    justify-content: center;
    .tile {
        margin: 10px;
        background-color: #61A4BC;
        border-radius: 10px;
        width: 500px;
        color: $background;
    }
}   
