<div>
    <h1 class="title">Experience</h1>
    <div class="tiles">
        <div class="tile">
            <h2>Capgemini</h2>
            <p>Front End Developer - Capgemini America Inc | 2020 - Present</p>

            <h2>Technical Lead:</h2>
            <h2>Front end Developer</h2>
        </div>

        <div class="tile">
            <h2>Group Win Cleaners</h2>
            <p>Design the website</p>
            <iframe
                src="https://groupwincleaners.com"
                height="300px"
                width="300px"
            ></iframe>
        </div>
    </div>
</div>
