<h2>{{id}}</h2>
<mat-accordion>
    <div *ngFor="let experience of data">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <div class="panel">
                    <img class="logo" width="150" height="50" [src]="experience.logo" alt="Westgate Logo"/>
                    <p>{{ experience.dates }}</p>
                </div>
            </mat-expansion-panel-header>
            <div>{{ experience.title }}</div>
            <div class="description">
                {{ experience.description }}
            </div>
            <ul class="wrap" *ngFor="let bulletPoint of experience.expandedText">
                <li>{{ bulletPoint }}</li>
            </ul>
        </mat-expansion-panel>
    </div>
</mat-accordion>
