<div class="navbar">
    <div class="buttons">
        <img [src]="logo" />
        <div class="name">Daniel Boada</div>
        <div class="right-side">
            <button mat-button class="button" (click)="scrollTo('home')">
                Home
            </button>
            <button mat-button class="button" (click)="scrollTo('skills')">
                Skills
            </button>
            <button mat-button class="button" (click)="scrollTo('experience')">
                Experience
            </button>
            <button mat-button class="button" (click)="scrollTo('projects')">
                Projects
            </button>
            <button mat-button class="button" (click)="scrollTo('contact')">
                Contact
            </button>
        </div>
        <div class="menu"><img [src]="menu_navbar_icon" /></div>
    </div>
</div>
