<div class="navbar">
    <div class="buttons">
        <img [src]="profileLogo" />
        <div class="name">{{ firstName }} {{ lastName }}</div>
        <div class="right-side">
            <button mat-button class="button" (click)="scrollTo(homeTitle)">
                {{ homeTitle }}
            </button>
            <button mat-button class="button" (click)="scrollTo(skillsTitle)">
                {{ skillsTitle }}
            </button>
            <button mat-button class="button" (click)="scrollTo(experienceTitle)">
                {{ experienceTitle }}
            </button>
            <button mat-button class="button" (click)="scrollTo(projectsTitle)">
                {{ projectsTitle }}
            </button>
            <button mat-button class="button" (click)="scrollTo(contactTitle)">
                {{ contactTitle }}
            </button>
        </div>
        <div class="menu"><img [src]="menuNavBarIcon" /></div>
    </div>
</div>
