@import "src/styles.scss";

.navbar {
    position:fixed;
    top:0;
    background-color: $light-blue;
    width: 100%;
    z-index: 1;

    .buttons {
        width: 1000px;
        display: flex;
        height: 70px;
        color: $beige; 
        padding: 5px;

        .button {
            font-size: 20px;
        }

        .logo {
            margin-left: auto;

            img {
                width: 70px;
                height: 70px;
            }
        }
    }

    
}