@import "src/styles.scss";

.navbar {
    position: fixed;
    top:0;
    background-color: white;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 1px $dark-blue;

    .buttons {
        display: flex; 
        height: 50px;       
        color: $dark-blue; 
        padding: 5px;    
         .button {
             display: none;
         }
         .logo {
            display: none;
         }
         .menu {
             display: block;
             margin-left: auto;
    
             img {
                width: 50px;
                height: 50px;
            }
         }
    }

    
}

@media screen and (min-width: 700px) {
    .navbar {
        .buttons {
            display: flex; 
            height: 70px;       
            color: $dark-blue; 
            padding: 5px;
    
            .button {
                display: block;
                font-size: 20px;
            }
    
            .logo {
                display: block;
                margin-left: auto;
    
                img {
                    width: 70px;
                    height: 70px;
                }
            }
            .menu {
                display: none;
            }
        }
    }
}