<div class="body">
    <h1 class="title">Projects</h1>
    <div class="tiles">
        <div class="description">
            <h2>Group win cleaners</h2>
            <p>Designed the website to be have a clean modern look</p>
            <p>
                using white as the main color and yellow as the accent to
                display freshness, happiness and positivity
            </p>
        </div>
        <div class="tile">
            <img class="project" [src]="groupwincleaners" alt="" />
            <div class="text">Group Win Cleaners</div>
        </div>
    </div>
</div>
