@import "src/styles.scss";

.body {

    .title {
        font-weight: 900;
        font-size: 50px;
        margin: 60px 0 40px 0;
        color: $dark-blue;
    }
    .tiles {
        display: flex;
        flex-wrap: wrap;

        flex-direction: row;
        margin: 10px;
        justify-content: center;
        align-items: center;

        .description {
            color: $dark-blue;
        }
        .tile {
            margin: 10px;
            border-radius: 10px;
            color: $dark-blue;
            position: relative;
            text-align: center;
            cursor: pointer;

            .project {
                height: 300px;

                
            }

            &:hover .project {
                transition: 0.5s ease;
                filter: brightness(50%);
            }
        
            .text {
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                font-size: 32px;
                width: fit-content;
                
            }

            &:hover .text {
                transition: 0.5s ease;
                opacity: 1;
            }
        }
    }
}
