@import "src/styles.scss";

.root {
    width: 100%;
    text-align: -moz-center;
    text-align: -webkit-center;

    .icons {
        display: none;
    }
    .pages {
        flex-direction: column;
        display: flex;
        justify-content: center;
        // color: ;

        .page {
            vertical-align: middle;
        }
    }
}

@media screen and (min-width: 720px) {

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #97DFFC;
    }

    .root {

        .pages {
            width: 60vw;

            .page {
                
                padding-top: 40px;  
                
                &:first-child {
                    padding-top: 20px;
                }
            }
        }

        .icons {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            position: fixed;
            bottom: 20px;
            left: 50px;
            cursor: pointer;
            padding-bottom: 0;
            // filter: invert(1);

            img {
                width: 70px;
            }
        }
    }
}
