<div class="root">
    <app-navigation-bar></app-navigation-bar>

    <div class="page">
        <app-home-page class="home" id="home"></app-home-page>
        <app-skills-page id="skills"></app-skills-page>
        <app-experience-page id="experience"></app-experience-page>
        <app-projects class="tile" id="projects"></app-projects>
    </div>

    <app-contact-page></app-contact-page>
    <div class="icons">
        <img [src]="mailLogo" />
        <img [src]="LinkedInLogo" />
        <img [src]="github" />
    </div>
</div>
