@import "src/styles.scss";

.home {
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__card {
        border-radius: 10px;
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__button {
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
                padding: 10px;
        color: $dark-color;
        text-decoration: none;
    }

    &__icon {
        img {
            filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
            width: 48px;
            height: 48px;
        }
        
    }

    .links {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (min-width: 720px) {
    .home {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: nowrap;

        .introduction {
            padding-left: 200px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .ocupation {
            line-height: 90px;
            font-size: 100px;
            text-align: left;
            color: $light-color;
        }

        .profile-picture {
            height: 100%;
            max-width: 100%;
            // margin-right: -250px;
        }
    }
}
