<section class="home">
    <div class="introduction">
        <div class="home__card">
            <h2>Hey, I am Daniel Boada</h2>
            <h1 class="ocupation">Front End<br>Developer</h1>
            <div class="links">
                <a class="home__button" href="assets/Daniel Boada Resume 2025.pdf" target="_blank">Resume</a>
                <a class="home__icon" href="mailto:danielboada.dev@gmail.com"><img src="assets/mail.svg"/></a>
                <a class="home__icon" href="https://www.linkedin.com/in/danielboada/" target="_blank"><img src="assets/linkedin.svg" /></a>
                <a class="home__icon" href="https://github.com/daniel-boada/" target="_blank"><img src="assets/github.svg" /></a>
            </div>
        </div>
        
    </div>
    <img class="profile-picture" src="assets/boada_professional.png" />
</section>
