<div class="projects">
    <h2 class="projects__title">Projects</h2>
    <div class='projects__cards'>
        <app-card *ngFor="let card of constants.projectsInfo" [data]="card"></app-card>
    </div>

    <!-- <div class="tiles">
        <div class="description">
            <img [src]="groupWinCleanersLogo" alt="" />
            <h2>UI/UX Designer</h2>

            <p>Group win cleaners | 2021</p>
            <p class="projectDescription">
                Designed a website for a small family owned cleaning business. 
                The client requested a clean modern look and a way to modify make changes to the website after it was built
            </p>
        </div>
        <div class="tile">
            <mat-accordion>
                <div>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <div class="wrap">
                                <div>UX Designer</div>
                                <div class="color">
                                    clean modern look
                                </div>
                            </div>
                        </mat-expansion-panel-header>
                        <ul> 
                            <li>
                                Designed the website style to reflect the modern look the client requested, using white as the background color and yellow as the
                                accent color to display freshness, happiness and positivity.
                            </li>
                            <li>
                                Built the website using SquareSpace to allow the client to modify it later on, 
                                and to allow them to take advantage of the ecosystem offered by SquareSpace 
                            </li>
                        </ul>    
                        <img class="project" [src]="groupWinCleaners" alt="" />
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>
    </div> -->
</div>
