@import "src/styles.scss";

.experience-page {
    background-color: $dark-color;
    padding: 200px 0;
    min-height: 400px;

    &__inner {
        width: 100%;
        max-width: 1000px;
    }
}

@media screen and (min-width: 720px) {
    .body {
        .tiles {
            .tile {
                img {
                    width: 400px;
                }
            }
        }
    }   
}
