@import "src/styles.scss";

.body {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .greetings {
        margin-top: 20px;
        font-size: 50px;
    }
    .name {
        color: $font-normal;
    }

    .ocupation {
        margin-bottom: 20px;
        font-size: 10vw;
        line-height: 10vw;
        font-weight: 900;
        text-align: center;
    }

    .icons {
        flex-direction: row;
        cursor: pointer;
        filter: invert(1);

        img {
            width: 50px;
        }
    }
}

@media screen and (min-width: 720px) {
    .body {
        // margin-top: 30vh;
        .top {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .introduction {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
                justify-content: end;

                .greetings {
                    margin-top: 0;
                    margin-bottom: 30px;
                }

                .firstName {
                    color: $font-normal;
                    font-size: 120px;
                    line-height: 100px;
                    margin-left: -6px;
                }
                .lastName {
                    color: $font-normal;
                    font-size: 150px;
                    line-height: 120px;
                    margin-left: -8px;
                }
            }

            .text {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                font-size: 28px;
                margin-top: 20px;

                .ocupation {
                    line-height: 70px;
                    font-size: 84px;
                    text-align: left;
                    color: $font-highlight;
                }
            }
        }
    }
}
